.accordion {
  box-shadow: 1px 1px 5px 0px rgba(76, 84, 87, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(76, 84, 87, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(76, 84, 87, 0.75);
}
.accordion-body {
  max-width: 60vw;
  margin: 0 auto;
}
