.custom-nav-sj {
  background: #000;
  border-bottom: 1px solid #52057b;
}
/* 
.custom-nav-sj a {
  color: #fff;
}

.custom-nav-sj a .active {
  color: #8e05c2;
}

.custom-nav-sj a:hover {
  color: #8e05c2;
} */
.navbar-brand img {
  max-width: 180px;
}
